@import 'variables';

.search-container {
  position: relative;
}

.search-input {
  padding-right: 40px;
}

.search-icon {
  font-size: large;
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  transition: color 0.2s ease-in-out;

  &:hover {
    color: $primary-color;
  }
}